@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 430px;
    height: 200px;
    background: rgb(42, 26, 66);
    border: 1px solid rgb(69, 78, 88);
    border-radius: 1%;
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding: 10px;
    color: rgb(134, 83, 92);
}